{% extends "@YZSupervisor/layout.html.twig" %}

{% block yz_supervisor_content %}
    <div class="page-header">
        <h1>Supervisor</h1>
    </div>
    {% include "@YZSupervisor/Supervisor/list_content.html.twig" %}
    {% include "@YZSupervisor/Supervisor/list_javascript.html.twig" %}
{% endblock yz_supervisor_content %}
